.home {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1500px;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

.home .place {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  max-height: 800px;
  width: 25%;
  height: 53.3vw;
  background-color: #303030;
  box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.home .place::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  background-image: linear-gradient(0deg, #373c7a 0%, rgba(55, 60, 122, 0.41) 59%, rgba(155, 158, 189, 0.09) 91%, rgba(255, 255, 255, 0) 100%);
  z-index: 199;
  transition: opacity .6s;
}

.home .place .place-image {
  transition: transform .6s;
}

.home .place .order-number {
  position: absolute;
  top: 3%;
  right: 7.2%;
  font-family: BebasNeueBold;
  font-size: 200px;
  transition: opacity .3s;
}

.home .place .place-name {
  position: absolute;
  bottom: 8.75%;
  left: 12%;
  font-family: BebasNeueBold;
  font-size: 100px;
  color: #ffffff;
  z-index: 200;
  transition: opacity .3s;
}

.home .place .place-introduction {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 226px;
  padding-left: 118px;
  width: 40%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .6s;
  transition-timing-function: ease-in-out;
}

.home .place .place-introduction.show {
  opacity: 1;
  transform: translateX(0);
}

.home .place .place-introduction .place-introduction-order-number {
  position: absolute;
  top: 225px;
  right: 86px;
  font-family: BebasNeueBold;
  font-size: 194px;
  color: #e1e0e0;
  opacity: 0.48;
}

.home .place .place-introduction .place-introduction-title {
  font-family: PlayfairDisplay-Bold;
  font-size: 71.25px;
  color: #303030;
}

.home .place .place-introduction .place-introduction-text {
  margin-top: 18px;
  width: 80.9%;
  font-family: Poppins-Regular;
  font-size: 22.2px;
  color: #303030;
  text-align: justify;
}

.home .place .place-introduction .read-more {
  margin-top: 34px;
  font-family: PlayfairDisplay-Bold;
  font-size: 24px;
  color: #0943ba;
}

.home .Paris {
  z-index: 100;
  transition: margin-left .6s, width .6s, transform .6s;
}

.home .Paris.hide-left {
  margin-left: -25%;
}

.home .Paris.click .place-image {
  transform: translateX(8%) scale(1.2);
}

.home .Paris .place-image {
  transform: translateX(-48%);
}

.home .Paris .order-number {
  color: #ffffff;
  opacity: .09;
}

.home .Dubai {
  z-index: 99;
  transition: margin-left .6s, width .6s, transform .6s;
}

.home .Dubai.hide-left {
  margin-left: -25%;
}

.home .Dubai.click .place-image {
  transform: translateX(7%) scale(1.2);
}

.home .Dubai .place-image {
  transform: translateX(-22%);
}

.home .Dubai .order-number {
  color: #ffffff;
  opacity: .09;
}

.home .Brazil {
  z-index: 98;
  transition: margin-left .6s, width .6s, transform .6s;
}

.home .Brazil.hide-left {
  margin-left: -25%;
}

.home .Brazil.click .place-image {
  transform: translateX(0) scale(1.2);
}

.home .Brazil .place-image {
  transform: translateX(-43%);
}

.home .Brazil .order-number {
  color: #303030;
  opacity: .16;
}

.home .India {
  z-index: 97;
  transition: width .6s, transform .6s;
}

.home .India.click .place-image {
  transform: translateX(9%) scale(1.2);
}

.home .India .place-image {
  transform: translateX(-28%);
}

.home .India .order-number {
  color: #303030;
  opacity: .16;
}

.home .place.click {
  width: 100%;
}

.home .place.click::after, .home .place.click .order-number, .home .place.click .place-name {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */