@import "../common/function";

$place-z-index: 100;

.home {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1500px;
  width: 100%;
  font-size: 0;
  overflow: hidden;

  .place {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    max-height: 800px;
    width: 25%;
    height: 53.3vw;
    background-color: #303030;
    box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25%;
      background-image: linear-gradient(0deg, rgb(55,60,122) 0%, rgba(55,60,122,0.41) 59%, rgba(155,158,189,0.09) 91%, rgba(255,255,255,0) 100%);
      z-index: $place-z-index * 2 - 1;
      transition: opacity .6s;
    }

    .place-image {
      transition: transform .6s;
    }

    .order-number {
      position: absolute;
      top: 3%;
      right: 7.2%;
      font-family: BebasNeueBold;
      font-size: 200px;
      transition: opacity .3s;
    }

    .place-name {
      position: absolute;
      bottom: 8.75%;
      left: 12%;
      font-family: BebasNeueBold;
      font-size: 100px;
      color: #ffffff;
      z-index: $place-z-index * 2;
      transition: opacity .3s;
    }

    .place-introduction {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 226px;
      padding-left: 118px;
      width: 40%;
      height: 100%;
      background-color: #ffffff;
      opacity: 0;
      transform: translateX(100%);
      transition: transform .6s;
      transition-timing-function: ease-in-out;

      &.show {
        opacity: 1;
        transform: translateX(0)
      }

      .place-introduction-order-number {
        position: absolute;
        top: 225px;
        right: 86px;
        font-family: BebasNeueBold;
        font-size: 194px;
        color: #e1e0e0;
        opacity: 0.48;
      }
      
      .place-introduction-title {
        font-family: PlayfairDisplay-Bold;
        font-size: 71.25px;
        color: #303030;
      }

      .place-introduction-text {
        margin-top: 18px;
        width: 80.9%;
        font-family: Poppins-Regular;
        font-size: 22.2px;
        color: #303030;
        text-align: justify;
      }

      .read-more {
        margin-top: 34px;
        font-family: PlayfairDisplay-Bold;
        font-size: 24px;
        color: #0943ba;
      }
    }
  }

  .Paris {
    z-index: $place-z-index;
    transition: margin-left .6s, width .6s, transform .6s;

    &.hide-left {
      margin-left: -25%;
    }

    &.click {
      .place-image {
        transform: translateX(8%) scale(1.2);
      }
    }

    .place-image {
      transform: translateX(-48%);
    }

    .order-number {
      color: #ffffff;
      opacity: .09;
    }
  }

  .Dubai {
    z-index: $place-z-index - 1;
    transition: margin-left .6s, width .6s, transform .6s;

    &.hide-left {
      margin-left: -25%;
    }

    &.click {
      .place-image {
        transform: translateX(7%) scale(1.2);
      }
    }

    .place-image {
      transform: translateX(-22%);
    }

    .order-number {
      color: #ffffff;
      opacity: .09;
    }
  }

  .Brazil {
    z-index: $place-z-index - 2;
    transition: margin-left .6s, width .6s, transform .6s;

    &.hide-left {
      margin-left: -25%;
    }

    &.click {
      .place-image {
        transform: translateX(0) scale(1.2);
      }
    }

    .place-image {
      transform: translateX(-43%);
    }

    .order-number {
      color: #303030;
      opacity: .16;
    }
  }

  .India {
    z-index: $place-z-index - 3;
    transition: width .6s, transform .6s;

    &.click {
      .place-image {
        transform: translateX(9%) scale(1.2);
      }
    }

    .place-image {
      transform: translateX(-28%);
    }

    .order-number {
      color: #303030;
      opacity: .16;
    }
  }

  .place.click {
    width: 100%;

    &::after, .order-number, .place-name {
      opacity: 0;
    }
  }
}