@import "../common/function";

$place-z-index: 100;
$place-transition-duration: .6s;
$place-img-transition-duration: .6s;
$place-name-transition-duration: .3s;
$place-order-number-transition-duration: .3s;
$place-introduction-transition-duration: .6s;
$place-introduction-order-number-transition-duration: .4s;
$place-introduction-content-transition-duration: .6s;

.home {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1500px;
  width: 100%;
  font-size: 0;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 59px;
    height: 59px;
    background-image: url("../images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: $place-z-index + 1;
  }

  .place {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    max-height: 800px;
    width: 25%;
    height: 53.3vw;
    background-color: #303030;
    box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25%;
      background-image: linear-gradient(0deg, rgb(55,60,122) 0%, rgba(55,60,122,0.41) 59%, rgba(155,158,189,0.09) 91%, rgba(255,255,255,0) 100%);
      z-index: $place-z-index * 2 - 1;
      transition: opacity .6s;
      transition-delay: $place-introduction-content-transition-duration + $place-introduction-transition-duration;
    }

    .place-image {
      transition: transform .6s;
      transition-delay: $place-introduction-content-transition-duration + $place-introduction-transition-duration;
    }

    .order-number {
      position: absolute;
      top: 3%;
      right: 7.2%;
      font-family: BebasNeueBold;
      font-size: 200px;
      transition: opacity $place-order-number-transition-duration;
      transition-delay: $place-introduction-content-transition-duration + $place-introduction-transition-duration + ($place-transition-duration - $place-order-number-transition-duration);
    }

    .place-name {
      position: absolute;
      bottom: 8.75%;
      left: 12%;
      font-family: BebasNeueBold;
      font-size: 100px;
      color: #ffffff;
      z-index: $place-z-index * 2;
      transition: opacity $place-name-transition-duration;
      transition-delay: $place-introduction-content-transition-duration + $place-introduction-transition-duration + ($place-transition-duration - $place-name-transition-duration);
    }

    .place-introduction {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 226px;
      padding-left: 118px;
      width: 40%;
      height: 100%;
      background-color: #ffffff;
      transform: translateX(100%);
      transition: transform .6s;
      transition-timing-function: ease-in-out;
      transition-delay: $place-introduction-content-transition-duration;

      &.show {
        transform: translateX(0);
        transition-delay: $place-transition-duration;

        .place-introduction-order-number {
          opacity: .48;
          transform: translateY(0);
          transition-delay: $place-transition-duration + $place-introduction-transition-duration + ($place-introduction-content-transition-duration - $place-introduction-order-number-transition-duration);
        }

        .place-introduction-content {
          opacity: 1;
          transform: translateY(0);
          transition-delay: $place-transition-duration + $place-introduction-transition-duration;
        }
      }

      .place-introduction-close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 59px;
        height: 59px;
        background-color: transparent;
        background-image: url("../images/close.png");
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .place-introduction-order-number {
        position: absolute;
        top: 225px;
        right: 86px;
        font-family: BebasNeueBold;
        font-size: 194px;
        color: #e1e0e0;
        opacity: 0;
        transform: translateY(22.4px);
        transition: opacity $place-introduction-order-number-transition-duration, transform $place-introduction-order-number-transition-duration;
      }
      
      .place-introduction-content {
        opacity: 0;
        transform: translateY(140px);
        transition: opacity $place-introduction-content-transition-duration, transform $place-introduction-content-transition-duration;
        
        
        .place-introduction-title {
          font-family: PlayfairDisplay-Bold;
          font-size: 71.25px;
          color: #303030;
        }
  
        .place-introduction-text {
          margin-top: 18px;
          width: 80.9%;
          font-family: Poppins-Regular;
          font-size: 22.2px;
          color: #303030;
          text-align: justify;
        }
  
        .read-more {
          margin-top: 34px;
          font-family: PlayfairDisplay-Bold;
          font-size: 24px;
          color: #0943ba;
        }
      }
    }
  }

  .Paris {
    z-index: $place-z-index;
    transition: margin-left $place-transition-duration, width $place-transition-duration;

    &.hide-left {
      margin-left: -25%;
    }

    &.click {
      .place-image {
        transform: translateX(8%) scale(1.2);
        transition-delay: 0s;
      }
    }

    .place-image {
      transform: translateX(-21%);
    }

    .order-number {
      color: #ffffff;
      opacity: .09;
    }
  }

  .Dubai {
    z-index: $place-z-index - 1;
    transition: margin-left $place-transition-duration, width $place-transition-duration;

    &.hide-left {
      margin-left: -25%;
    }

    &.click {
      .place-image {
        transform: translate(7%, -2%) scale(1.2);
        transition-delay: 0s;
      }
    }

    .place-image {
      transform: translate(-22%, -7%);
    }

    .order-number {
      color: #ffffff;
      opacity: .09;
    }
  }

  .Brazil {
    z-index: $place-z-index - 2;
    transition: margin-left $place-transition-duration, width $place-transition-duration;

    &.hide-left {
      margin-left: -25%;
    }

    &.click {
      .place-image {
        transform: translate(0, -8%) scale(1.2);
        transition-delay: 0s;
      }
    }

    .place-image {
      transform: translate(-22%, -14%);
    }

    .order-number {
      color: #303030;
      opacity: .16;
    }
  }

  .India {
    z-index: $place-z-index - 3;
    transition: width $place-transition-duration;

    &.click {
      .place-image {
        transform: translateX(9%) scale(1.2);
        transition-delay: 0s;
      }
    }

    .place-image {
      transform: translateX(-28%);
    }

    .order-number {
      color: #303030;
      opacity: .16;
    }
  }

  .place {
    // 覆盖.Paris .Dubai .Brazil .India transition属性中transition-delay默认值
    transition-delay: $place-introduction-transition-duration + $place-introduction-content-transition-duration;

    &.hide-left {
      margin-left: -25%;
      transition-delay: 0s;
    }

    &.click {
      width: 100%;
      transition-delay: 0s;
  
      &::after, .order-number, .place-name {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
}